<div class = "col-md-6 addNewDevices">
	<h2>
		Add New Device
	</h2>
	<form ng-submit = "addDevice()">
		<div class = "form-group col-md-12">
			<label for = "deviceName">Name</label>
			<input type = "text" id = "deviceName" class = "form-control" name = "deviceName" ng-model = "device.name" />
		</div>
		<div class = "form-group col-md-12">
			<label for = "deviceModal">Modal</label>
			<input type = "text" id = "deviceModal" class = "form-control" name = "deviceModal" ng-model = "device.modal" />
		</div>
		<div class = "form-group actions">
			<button type="submit" class="btn btn-default">Submit</button>
		</div>
	</form>
</div>